  <div id='container' *ngIf="todos as todos">
    <div id='div'>
      <ion-button id='ion-button'(click)="add()">+</ion-button>
      <ion-item>
        <ion-label position="floating">Adicionar Tarefa</ion-label>
        <ion-input [(ngModel)]="todoTitle" (keyup.enter)="add()"></ion-input>
      </ion-item>
    </div>
    
    
    <ion-list style='margin-top: 20px;' *ngIf="todos.length > 0;else todosIsEmpty">
      <ion-item *ngFor="let todo of todos;let i = index;">
          
          <ion-checkbox slot="start" [(ngModel)]="todo.done"></ion-checkbox>
          <ion-input [disabled]="true" [(ngModel)]="todoTitle">{{todo.name}}</ion-input>
          <ion-button [hidden]="!this.flagEdit" (click)="this.abletoEdit()" color="warning"><ion-icon name="create-outline"></ion-icon></ion-button>
          <ion-button [hidden]="this.flagEdit" (click)="this.disabledTodo(todo)" color="success"><ion-icon name="download-outline"></ion-icon></ion-button>
          <ion-button (click)="this.remove(todo.id, todo)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
          
      </ion-item>
    </ion-list>
    <ng-template #todosIsEmpty>
      <div class="ion-text-center ion-padding">
        <ion-label>Você não possui nenhuma tarefa</ion-label>
      </div>
    </ng-template>
  </div>


