<div id='container' *ngIf="todosTest as todos">
  <div>
    <ion-button (click)="add()">+</ion-button>
    <ion-item>
      <ion-label position="floating">Adicionar Tarefa</ion-label>
      <ion-input [(ngModel)]="todoTitle" (keyup.enter)="add()"></ion-input>
    </ion-item>
  </div>
  
  <!-- List toDo -->
  <ion-list style='margin-top: 20px;' *ngIf="todos.length > 0;else todosIsEmpty">
    <ion-item *ngFor="let todo of todos">
      
        
        <ion-checkbox slot="start" [(ngModel)]="todo.done"></ion-checkbox>
        <ion-label>{{todo.name}}</ion-label>
        <ion-button (click)="this.remove()" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
      
    </ion-item>
  </ion-list>
  <ng-template #todosIsEmpty>
    <div class="ion-text-center ion-padding">
      <ion-label>Você não possui nenhuma tarefa</ion-label>
    </div>
  </ng-template>
</div>
