<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ToDo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ToDo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="Adicionar tarefa"></ion-input>
            <ion-button>
              <!-- Note o uso do slot icon-only -->
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Conhecer o Ionic</ion-label>
              <ion-checkbox slot="start" checked="true"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Conhecer o Angular</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Concluir as atividades</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
