<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ToDo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ToDo App</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id='container'>
    <div>
      <ion-button (click)="addTodo()">+</ion-button>
      <ion-item>
        <ion-label position="floating">Adicionar Tarefa</ion-label>
        <ion-input [(ngModel)]="todoTitle" (keyup.enter)="addTodo()"></ion-input>
      </ion-item>
    </div>
    
    <!-- List toDo -->
    <ion-list style='margin-top: 20px;'>
      <ion-item *ngFor="let todo of todos">
        <div *ngIf="!todos.length > 0; then thenBlock else elseBlock">
          <p #thenBlock>Você não possui nenhum ToDo.</p>
        </div>
          
          <ion-checkbox slot="start" [(ngModel)]="todo.completed"></ion-checkbox>
          <ion-label>{{todo.title}}</ion-label>
          <ion-button (click)="removeTodo(todo.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
        
      </ion-item>
    </ion-list>
  </div>
</ion-content>
